.young-generation {
  fill: grey;
  stroke: none;
}
.eden {
  fill: #ffe1df;
  stroke: none;
}
.survivor {
  stroke: none;
  fill: #c3f4bd;
}
.tenured {
  fill: none;
  stroke: #ff2457;
}
.splitter{
  stroke: none;
  fill: crimson;
}
#diagonalHatch {
  stroke-width: 1px;
  stroke: grey;
}
.label-container {
  //transform: translateX(-50%);
}
.label {
  fill: black;
  font-size: 10px;
  text-anchor: middle;
}
.inline-label {
  fill: white;
  text-anchor: middle;
  font-size: 6px;
}
.object {
  stroke: none;
}
.lang {
  display: inline-block;
  font-size: 16px;
}
.form-group{
  label {
    display: block;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}